<div class="page-layout">
  <div class="modern-sidebar"></div>
  <div class="content-container">
    <div class="sidebar">
      <div class="regions-container">
        <mat-card
          class="region-card"
          *ngFor="let region of regions"
          [id]="region"
          [ngClass]="{ highlighted: region === highlightedRegion }"
        >
          <div class="region-title">{{ region }}</div>
        </mat-card>
      </div>
    </div>
    <div class="main-content">
      <div class="cards-container">
        <mat-card
          id="countries-list"
          *ngFor="let country of countries"
          (mouseover)="onCountryHover(country.region)"
        >
          <mat-card-content>
            <div class="country-info">
              <img
                style="width: 110px; height: 85px"
                class="country-flag"
                [src]="country.flag"
                [alt]="country.name"
              />
              <h5 style="font-size: 20px; color: white" class="country-name">
                {{ country.name }}
              </h5>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
