.page-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .modern-sidebar {
    width: 200px;
    background: rgb(81, 85, 85);
    background: linear-gradient(
      277deg,
      rgba(81, 85, 85, 1) 2%,
      rgba(5, 5, 5, 1) 100%
    );
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
  }

  .content-container {
    flex: 1;
    display: flex;
    overflow: hidden;

    .sidebar {
      width: 200px;
      background-color: #333;
      color: white;
      overflow-y: auto; 

      .regions-container {
        padding: 20px;
        .region-card {
          padding: 10px;
          margin-bottom: 10px;
          background-color: #555;
          cursor: pointer;

          &.highlighted {
            background-color: red;
          }

          .region-title {
            text-align: center;
          }
        }
      }
    }

    .main-content {
      flex: 1;
      padding: 20px;
      overflow-y: auto; 

      .cards-container {
        display: grid;
        grid-template-columns: repeat(
          auto-fill,
          minmax(150px, 1fr)
        ); 
        gap: 20px;

        .mat-card {
          background-color: #f0f0f0;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

          .mat-card-content {
            padding: 15px;

            .country-info {
              display: flex;
              align-items: center;

              .country-flag {
                width: 30px; 
                height: auto;
                border-radius: 50%;
                margin-right: 10px;
              }

              .country-name {
                font-size: 16px; 
                font-weight: bold;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
